body, #root, .app {
  background-color: #f0f2f5;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
}

.app-header {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.app-content {
  padding: 0 50px;
  margin-top: 64px;
  flex: 1 0 auto;
}

.app-footer {
  text-align: center;
  flex-shrink: 0;
  padding-top: 14px;
  padding-bottom: 14px;
}

form .anticon {
  color: rgba(0, 0, 0, 0.25);
}
